/* ────────── Waybar Styles ────────── */

@import url("colors.css");

* {
  border: none;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 15px;
}

window#waybar {
  border-radius: 15px;
  background-color: @window-background; /* #1e1e2e; */
  transition-property: background-color, opacity;
  transition-duration: 0.25s; }

window#waybar.hidden {
  opacity: 0.5;
}

.modules-right {
    padding: 0 10px;
}

#workspaces {
  background: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  padding: 3px 9px;
  margin: 4px 4px;
  border-radius: 3px;
  background-color: @wbutton-background;
  color: @wbutton-color;
  font-family: "JetBrainsMono Nerd Font", monospace;
}

#workspaces button.active {
  background-color: @wbuttonactive-background;
  color: @wbuttonactive-color;
  font-weight: 600;
}

#workspaces button:hover {
  background-color: @wbuttonhover-background;
  color: @wbuttonhover-color;
}

#workspaces button.urgent {
  background-color: @wbuttonurgent-background;
  color: @wbuttonurgent-color;
}

#bluetooth,
#memory,
#cpu,
#temperature,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#idle_inhibitor,
#language,
#clock,
#window,
#tray {
  margin: 4px 4px;
  padding: 3px 10px;
  background-color: @module-background;
  border-radius: 3px;
  color: @module-color;
}

#bluetooth:hover,
#memory:hover,
#cpu:hover,
#custom-power:hover,
#battery:hover,
#backlight:hover,
#wireplumber:hover,
#network:hover,
#clock:hover,
#tray:hover {
  background-color: @module-hover;
}

#custom-logo {
  padding: 0 6px;
  margin: 4px 6px 4px 0px;
  font-size: 18px;
  border-radius: 0;
  background: transparent;
  color: @logo-color;
}

#memory,
#cpu,
#temperature {
  color: @temp-color;
  padding-right: 10px;
}

#wireplumber {
  padding-right: 14px;
}

#clock {
  font-family: "JetBrainsMono Nerd Font", monospace;
  color: @clock-color;
}

tooltip {
  border-radius: 8px;
  padding: 10px;
  background-color: @tooltip-background;
}

tooltip label {
  padding: 2px 4px;
  background-color: transparent;
  color: @tooltip-label;
}
